<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polling-App</title>
  <link rel="stylesheet" href="/Users/user/Desktop/polling-app/public/css/style.css">
</head>

<body>
  <header>
    <h1>Polling-App</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/api/users/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Tell them how you feel</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
