<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
  </head>
  <body class="greeting">
    <h1>WELCOME TO OUR POLLING APP</h1>
    <p>Please click 'login' on the top left to create an account and get started</p>
  </body>
</html>